.btn-mein {
	background-color: black;
	color: white;
	font-size: 2.3vw;
	height: 75%;
	width: 16%;
	border-radius: 1vw;
	cursor: pointer;
	padding-top: 0.5vw;

	.link-mein {
		color: white;
		text-decoration: none;

		&:hover {
			color: #d6d6d6;
			text-decoration: underline;
		}
	}
}