.aside-container {
	background-color: #313131;
	padding: 2vw;
	width: 34%;
	border-radius: 3vw;
}

.quote-container {
	font-size: 2vw;
	width: 20vw;
	height: auto;
	background-color: #1F1F1F;
	color: #b0b300;
	padding: 2vw;
	border-radius: 2vw;
	cursor: pointer;
}

.autor-container {
	font-size: 2vw;
	width: 20vw;
	height: auto;
	background-color: #1F1F1F;
	color: #adadad;
	padding: 2vw;
	border-radius: 2vw;
	position: relative;
	left: 30%;
	margin-top: 1vw;
	cursor: pointer;
}