.btn-contact {
	background-color: black;
	color: white;
	font-size: 2vw;
	height: 75%;
	width: 16%;
	border-radius: 1vw;
	cursor: pointer;

	.link-contacts {
		color: white;
		text-decoration: none;

		&:hover {
			color: #d6d6d6;
			text-decoration: underline;
		}
	}
}