.hr1 {
	width: 30vw;
	height: 0.2vw;
	border: 0;
	border-bottom: 0.2vw solid black;
	align-self: center;
	border-radius: 0;
}

.picPat {
	width: 30vw;
}

.hr2 {
	width: 30vw;
	height: 0.2vw;
	border: 0;
	border-bottom: 0.2vw solid black;
	align-self: center;
	border-radius: 0;
}


